*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    color: black;
}

#contenido {
    width: auto;
    margin: auto;
    background-color: white;
}

header {
    height: 50px;
    width: 300px;
    background-color: black;
    color:white;
}

header h1 {
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}

#menu {
    background-color: white;
    color: black;
    width: 300px;
    height: 660px;
    float:left;
    border: 2px solid black;
    display: block;
}

#menu ul {
    list-style-type: none;
}

/*para darle forma a la lista directa que se encuentra en nav, es decir el menú principal*/
#menu li {
    display: block;
    border: 1px solid black;
}

/*estilo para la lista princiapal en el nav*/
#menu li a {
    display: block;  /*Para que los item del menú queden en bloque y */
    color: black;
    text-decoration: none;  /*quitar línea que queda abajo de las palbras*/
    padding: 5px 10px;

}

/*para darle un estilo al pasar el mouse por cada item del menú. Es como la ilusión de selección*/
#menu li a:hover {
    background-color: #62aac7;
    color: black;
}

/*para darle estilo al sub-menu, y poder seleccionarlo*/
#menu li ul{
    display: none;
    position: relative; /*para que este submenu quede al tamaño del menu principal (del que se depliega)*/
    min-width: 280px;  /*el tamaño que puse al navegador*/
    border: none;
}

/*los li que estén dentro de menu y que además cuando se pase el mouse (por el hover) por el menú, deberá aparecer el submenu*/
/*además deben ser directos de ul, por eso el >ul*/
#menu li:hover > ul{
    display: block;
    float: right;

}
 

#Informacion-Gral{
    background-color: white;
    color: black;
    height: 660px;
    width: auto;
    display: flex;
    margin: none;
    margin-left: 0px;
}


#Form{
    background-color: white;
    width: auto;
    height: 600px;
    margin: 80px;
    padding: 10px;
    margin-left: 60px;
    margin-top: 20px;
}

#Form h1{
    background-color: white;
    height: auto;
    color: black;
    font-size:x-large;

}

/*texto antes del input*/
label{
    color: black;
    font-size: large;
    line-height: 200%;
}

input{
    border  : 1px solid black;
    padding : 5px 10px;
    margin  : 0;
    width   : 250px;
    height: 10px;
    background: white;
}


button {
    position     : relative;
    left         : none;
    top          : 20px;
    padding      : 2px;
    border       : 2px solid #333;
    background   : none;
    cursor       : pointer;
    margin-left: 800px;

}

button:hover{
    outline: none;
    background: #62aac7;
    color: black;
}