body{
    margin: 0 auto;
}
#fondoPrincipal{
    width: 50%;
    height: 1000px;
    background-color: black;
    color: #000;
}
#cuerpoFormularioRegistro{
    border-radius: 4px;
    background-color: #a9a9a9;
    width: 440px;
    height: 650px;
    margin-left: 710px;
    margin-top: 50px;
    position:absolute;
}
.elementosRegistro{
    width: 300px;
    margin-left: 65px;
    border-radius: 5px;
    font-size: 13px;
    
}
input{
    padding: 6px;
}
.elementosRegistroName{
    font-size: 19px;
    text-align: left;
    margin-top: 28px;
    margin-bottom: 13px;
}
/* Este arreglo es para un elemento especifico*/
.arreglo{
    margin-top: 30px;
}
.buton{
    margin-top: 45px;
    font-size: 19px;
    border-radius: 5px;
    padding: 5px;
}
#formularioName{
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
    font-family: 'Acme', sans-serif;
}
#icon{
    display: inline-flex;
}
#icono{
    margin-left: 25px;
    width: 10%;
    height: 7%;
    border-radius: 100%;
    margin-top: 30px;
}
#bannerName{
    color: #fff;
    font-family: 'Acme', sans-serif;
    margin-left: 20px;
    margin-top: 30px;
}
#copy{
    text-align: center;
    margin-top: 90px;
}
#a{
    text-decoration: none;
    margin-top: 6px;
}
